<section class="figure" (click)="triggerFileInput(fileInput)">
    <div class="figure__container">
        <img src="/assets/images/icons/arrow-down-red.png" *ngIf="text && arrow == 'down'" [ngStyle]="{
                'margin-top': (height - 44) + 'px'
            }">
        <div>
            <div class="figure__frame">
                <div #figure class="figure__back" [ngStyle]="{
                    'width': width + 'px',
                    'height': height + 'px',
                }">
                </div>
                <img src="/assets/images/border/frame.png">
            </div>
            <p class="figure__text text-medium-16-24 text-red-light">{{ text }}</p>
        </div>
        <img src="/assets/images/icons/arrow-up-red.png" *ngIf="text && arrow == 'up'" [ngStyle]="{
            'margin-top': (height - 44) + 'px'
        }">
    </div>
    <input type="file" #fileInput accept="image/*" (change)="onFileSelected($event, figure)" style="display: none;">
</section>