.figure {
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__back {
        background-image: url('/assets/images/bg/bg-figure.png');
        background-size: cover;
        height: 100%;
    }

    &__text {
        text-align: center;
    }
}