.figure {
    cursor: pointer;

    &__container {
        margin: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__back {
        background-image: url('/assets/images/bg/bg-figure.png');
        background-size: cover;
        height: 100%;
    }

    &__text {
        margin-top: 4px;
        text-align: center;
    }
}