<section class="home">
    <app-left-page title="Cheiro de grama, vento no focinho..." bgImage="/assets/images/bg/bg-fields.png">
        <div class="home__figures-top">
            <app-figure />
            <app-figure />
            <app-figure />
            <app-figure />
        </div>
        <div class="home__figures-bottom">
            <app-figure />
            <app-figure />
            <app-figure />
        </div>
        <div class="home__stickers">
            <app-fillable-sticker image="/assets/images/stickers/sticker-double-dogs.png" [filled]="filledStickers"/>
            <app-fillable-sticker class="home__sticker-dragon-fly" image="/assets/images/stickers/sticker-dragon-fly.png" [filled]="filledStickers"/>
        </div>
    </app-left-page>
    <!-- Remover botão de testes -->
    <button (click)="handleChangeFillStickers()">Preencher</button>
</section>