.home {
    height: 100%;

    &__figures-top {
        display: flex;
        justify-content: space-between;
    }

    &__figures-bottom {
        display: flex;
        justify-content: space-evenly;
    }

    &__stickers {
        width: 100%;
        height: 100%;
        position: relative;
    }

    &__sticker-dragon-fly {
        position: absolute;
        top: -210px;
        left: 680px;
    }
}