.home {
    height: 100%;
    display: flex;

    &__figures-top {
        display: flex;
        justify-content: space-between;
    }

    &__figures-bottom {
        display: flex;
        justify-content: space-evenly;
    }

    &__stickers {
        width: 100%;
        height: 100%;
        position: relative;
    }

    &__sticker-dragon-fly {
        position: absolute;
        top: -140px;
        left: 710px;
    }

    &__sticker-jackrussell {
        position: absolute;
        top: -160px;
        left: -20px;
    }

    &__challenge-time {
        position: relative;
        text-align: center;
        // transform: rotate(15deg);
    }

    &__challenge-time-arrow {
        position: absolute;
        top: 240px;
        left: 190px;
        transform: rotate(-15deg);
    }
}